:root {
  --primary-color: #4abdac;
  --secondary-color: #272727;
  --tertiary-color: #dfdce3;
  --highlight-color: #f7b733;
  --focus-color: #fc4a1a;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
}
